name: Feature Push
on:
  push:
    branches-ignore:
      - master

jobs:
  push-to-feature:
    name: Push to feature
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        
      - name: Build LaTeX document
        uses: xu-cheng/latex-action@e2f99d4b3685b0da93f97e1b86ad8fab81105098 # v3.3.0
        with:
          root_file: "cv.tex"
          latexmk_use_xelatex: true

      - name: Upload PDF artifact
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: cv-pdf
          path: cv.pdf
          if-no-files-found: error