name: Merge Request
on:
  pull_request:
    branches:
      - master

permissions:
  contents: write

jobs:
  build_n_test:
    name: Build and check tag
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ github.token }}
    steps:
      - name: Set up Git repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Tag check
        run: |
          export ORIGINAL_CODE_TAG=$(echo -n | cat version) && echo "Code tag is: $ORIGINAL_CODE_TAG"
          [[ $ORIGINAL_CODE_TAG =~ ^[0-9]+\.[0-9]+\.[0-9]+$ ]] || (echo $'unsuitable tag for deployment: regex \'^[0-9]+\.[0-9]+\.[0-9]+$\' was not respected'; exit 99)
          export CODE_TAG="v${ORIGINAL_CODE_TAG}"
          echo "CODE_TAG=$CODE_TAG" >> $GITHUB_ENV
          echo "PRESERVE_TAG=false" >> $GITHUB_ENV
          git fetch --unshallow origin
          git tag | grep "$CODE_TAG" && export CODE_TAG_EXISTS=true && echo "ERROR: THIS TAG ALREADY EXISTS WITHIN THE REPO! EXITING" && sed -i 's/PRESERVE_TAG=false/PRESERVE_TAG=true/g' $GITHUB_ENV  && exit 99
          echo " ==> TAGS: Checks ok!"
          echo " ==> TAGS: Tag is $CODE_TAG" && [[ $CODE_TAG_EXISTS != "true" ]] && git tag $CODE_TAG && git push --tags
          echo "ORIGINAL_CODE_TAG=$ORIGINAL_CODE_TAG" >> $GITHUB_ENV

      - name: Build LaTeX document
        uses: xu-cheng/latex-action@e2f99d4b3685b0da93f97e1b86ad8fab81105098 # v3.3.0
        with:
          root_file: "cv.tex"
          latexmk_use_xelatex: true
          post_compile: "cp cv.pdf CV_Orzes_Matteo.pdf"

      - name: Upload PDF artifact
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: cv-pdf-test
          path: CV_Orzes_Matteo.pdf
          if-no-files-found: error

      - name: Create draft release
        run: |
          gh release create ${{ env.CODE_TAG }} \
          --draft \
          --target ${{ github.event.pull_request.base.ref }} \
          --title 'Curriculum Vitae ${{ env.ORIGINAL_CODE_TAG }} just for testing purpose!!! Will be deleted' \
          './CV_Orzes_Matteo.pdf'

      - name: Delete tag and release
        if: ${{ always() }}
        run: |
          [[ "${{ env.PRESERVE_TAG }}" == "false" ]] && git push --delete origin $CODE_TAG && gh release delete ${{ env.CODE_TAG }} -y